<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="org.apache.cordova.Signal" version="0.0.1">
    <name>Signal</name>
    <description>Plugin to extract advanced network information such as cell ID, LAC etc. for android devices</description>
    <license>Apache 2.0</license>
    <keywords>cordova,signal,network</keywords>
    <author>Abbas Dawood, Karl Baria</author>
    <repo>https://github.com/abbasdawood/org.apache.cordova.signal.git</repo>

    <js-module src="www/signal.js" name="signal">
        <clobbers target="signal" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Signal">
                <param name="android-package" value="org.apache.cordova.signal.Signal" />
            </feature>
        </config-file>

        <source-file src="src/android/Signal.java" target-dir="src/org/apache/cordova/signal" />

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
        </config-file>
    </platform>
</plugin>
